extends common/layout.pug

block header
  h1.display-3.text-center Local Video Server
  hr.my-4


block content
  .row
    each val, key in filesPath
      .col
        a(href="/video/" + key)
          img(src="thumbnail.png", width="280px" alt="thumbnail").img-thumbnail
        a(href="video/" + key)
          p= val.title